above(breakpoint)
	if breakpoints[breakpoint] > 0
		@media only screen and (min-width: breakpoints[breakpoint])
			{block}
	else
		{block}

below(breakpoint)
	@media only screen and (max-width: (breakpoints[breakpoint] - 1px))
		if block
			{block}

between(breakpoint_1, breakpoint_2)
	@media only screen and (min-width: breakpoints[breakpoint_1]) and (max-width: (breakpoints[breakpoint_2] - 1px))
		if block
			{block}
