//- COLORS
$brand-color = #0077F7
$brand-color2 = #4680C2
$light-color = #F8F9FB

$error-color = #FF5042

$text-color = #384052
$gray = #4d4d4d

$white = white
$semi-white = rgba(255, 255, 255, 0.68)
$header-background = #7BB8F7
