.footer
	color $gray
	background-color: $white
	bottom: 0
	position: absolute
	width: 100%
	border-top: 2px solid #dadbdc
	padding: 0.25rem 1rem 0.5rem
	+above(md)
		padding: 0.25rem 1.5rem 0.5rem
	+above(lg)
		padding: 0.25rem 2% 0.5rem
	a
		text-decoration: none
		color: currentColor
	*
		font-size: 13px
		letter-spacing: 0.2px
		font-weight: 600
	.year
		font-weight: normal
		font-size: 11px
.links
	float: right
