doctype

html
	head
		title Contatos Comex
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		link(href='/main.css', rel='stylesheet')
	body(style=bodyStyle, class=bodyClass)

		!= yield
