include /_components/index

.container
	h1 Banco de Compradores Internacionais Rede CIN
	//- a.huge-btn(href="/")
		include /assets/home.svg
		span Home
	//- a.huge-btn(href="/cards")
		include /assets/cards2.svg
		span Cartões
	a.huge-btn(href="/table")
		include /assets/table2.svg
		span Login no Banco
	a.huge-btn(href="/form" target="_blank")
		include /assets/plus.svg
		span Adicionar
	a.huge-btn(href="/rating-form" target="_blank")
		include /assets/star.svg
		span Avaliar

	.links
		a.credit(href="https://elogroup.com.br" target="_blank") desenvolvido por
			span  EloGroup
