include /_components/index

.container
	h1 Banco de Compradores Internacionais Rede CIN
	//- a.huge-btn(href="/")
		include /assets/home.svg
		span Home
	a.huge-btn(href="https://airtable.com/tblVEMZNUp3pSTlIS/viwFAWMDo8ccHo1AG" target="_blank")
		include /assets/cards2.svg
		span Cartões
	a.huge-btn(href="https://airtable.com/tblVEMZNUp3pSTlIS/viwBWLcNCAIDCmKkW" target="_blank")
		include /assets/table2.svg
		span Tabela
	a.huge-btn(href="/form" target="_blank")
		include /assets/plus.svg
		span Adicionar
	a.huge-btn(href="/rating-form" target="_blank")
		include /assets/star.svg
		span Avaliar
	a.huge-btn(href="https://airtable.com/tblVEMZNUp3pSTlIS")
		include /assets/admin.svg
		span Admin

	.links
		a.credit(href="https://elogroup.com.br" target="_blank") desenvolvido por
			span  EloGroup
