@import "_mixins"
@import "_components"

html
	transition all 0.2s

body
	font-family -apple-system,BlinkMacSystemFont,'Segoe UI','Roboto','Oxygen','Ubuntu','Cantarell','Fira Sans','Droid Sans','Helvetica Neue',sans-serif
	font-size 16px
	line-height 1.75

body, html
	height 100%

.logobar
	background: #F3F8FC
	width: 100%
	height: auto
	a
		margin-left: 2rem

		img
			padding-top 0.25rem
.right
	text-align: right;

.absolute
	position absolute

.airtable-embed
	height 100% !important
	border none

.airtable-section
	height 100%
	height calc(100% - 16px)
	// bottom 70px
	display block

.form-section
	height 100%
	height calc(100% - 42px)
	// bottom 90px
	display block

.position-center
	bottom 3px
	right: 0
	left: inherit;
	// display none
	z-index: 3
	+above(md)
		right: inherit;
		left 50%
		transform: translateX(-50%);

.btn_icon
	svg
		top 1px

.btn--invisible
	position relative
	display inline-block
	text-decoration none
	color #4d4d4d
	font-size 13px
	line-height 18px
	cursor pointer
	font-weight 500
	margin-top 4px
	margin-bottom 4px
	margin-left 0px
	margin-right 8px
	padding 4px 8px
	transition 0.1s all ease-in
	border-radius 3px
	box-sizing border-box
	align-items center
	user-select none
	:hover, :focus
		background-color rgba(0,0,0,0.05)
	span
		margin-left 2px
		display none
		+above(lg)
			display inherit
	svg
		shape-rendering geometricPrecision
		position relative

.active
	background-color: dodgerblue
	color: white
	:hover
		background-color: royalblue

.container
	margin: 0 auto;
	max-width: 680px
	width: 90%
	position: relative;
	&.main
		background-color: white
		margin-bottom: 64px
		top 1rem
		border-radius: 8px
		padding: 2rem 0
		+above(md)
			top: 2rem
			padding: 2rem 1rem 4rem
			border: 2px solid #1269BD
		+above(lg)
			top: 3rem
			padding: 2rem 2rem 4rem

h1
	color #888
	font-weight 200
	letter-spacing: 0.3px
	margin: 0
	padding 0 24px
	font-size: 18px
	line-height: 24px
	margin-bottom: 48px
	+above(sm)
		font-size: 20px
		line-height: 32px
	+above(lg)
		font-size 28px
		line-height 48px



.huge-btn
	position relative
	display flex
	text-decoration none
	color #4d4d4d
	font-size 20px
	line-height 32px
	cursor pointer
	font-weight 500
	margin: 24px 0
	padding 16px 24px
	align-items: center;
	transition 0.1s all ease-in
	border-radius 3px
	box-sizing border-box
	align-items center
	user-select none
	width: 100%
	:hover, :focus
		background-color rgba(0,0,0,0.05)
	span
		margin-left 16px
		// display: block;
	svg
		shape-rendering geometricPrecision
		position relative
		width: 24px
		height: auto

.credit
	color #4d4d4d
	text-decoration: none;
	opacity: 0.3
	font-weight: 400
	transition: 0.2s all
	display: none
	margin-top: 4px
	span
		font-weight: 600
	:hover
		opacity: 1
	+above(md)
		display: block
