.navbar
	// background-color white
	// text-align: center
	border-bottom: 2px solid #dadbdc
	// margin: 0 auto
	// bottom: 0
	// min-width: auto
	// position: fixed;
	padding: 0.5rem 1rem
	+above(sm)
		padding: 0.5rem 1.5rem
	+above(md)
		padding: 0.5rem 2%
	// background: red
	margin: 0 auto
	width: auto
