mixin navbar()
	nav.navbar
		a.btn--invisible.btn_icon(href="/")
			include /assets/cards2.svg
			span Grid view
		a.absolute.btn--invisible.btn_icon(href="/table")
			include /assets/table2.svg
			span Table view
		a.btn--invisible.btn_icon(href="https://airtable.com/tblVEMZNUp3pSTlIS")
			include /assets/admin.svg
			span Admin
